
<div>

  <div class="transaction-inputs">
    <!-- Display Customer Balance  -->
    <div class="balance" id="balance"><label>Balance: {{ balanceFormatted }}</label></div>
    <label>Amount: <input type="number" min="1" max="1000"    [(ngModel)]="numberNew" /></label>

    <ul class="options-list">
      <li class="options-item">
        <button (click)="onWithdraw()">Make a Widthdrawl</button>
      </li>
      <li class="options-item">
        <button (click)="onDeposit()">Deposit Money</button>
      </li>
      <li class="options-item">
        <button (click)="changeShow()">Transactions History</button>
      </li>
    </ul>

  </div>

</div>

<div class="transaction">
      <section class="display">
      Recent Transactions
      <div *ngIf="isShow">
      <ul>
      <li *ngFor="let transaction of bankService.account.transactions | slice:0:3">
        {{ transaction.date }} {{ transaction.type | uppercase }}  {{ transaction.amount }} {{ transaction.currency | uppercase }}
      </li>
      </ul>
      </div>

      </section>
</div>
