
.transaction {
  display: flex;
  flex-flow: row nowrap;
}

.transaction-inputs{
  text-align:left;
  width:400px;
}

.display {
  flex-basis: 70vw;
  color: white;
}

.options {
  flex-basis: 30vw;
}

.options-list {
  list-style: none;
  width:125px;
}


button {
  background-color: #00358e;
  width: 100%;
  height: 50px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
button:hover {
  background-color: #2a7de1;
}

section {
  background-color: #737679;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-size:12px;
  padding: 15px;
}

#balance {
  margin-bottom:10px;
  overflow: auto;
  display:flex;
  flex-flow:row nowrap;
  list-style:none;
}
table{
  table-layout: fixed;

}
